#scroller .touchBox:first-child{
    border-top:1px solid #CCCCCC;
}
.touchBox {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 0 6px 4px;
}
.innerBox {
    width: 200%;
    margin: 0px;
    padding: 0px;
    position: relative
}
.delete {
    width:70px;
    -webkit-box-pack: center;
}
.innerBox li:first-child{
    width: 50%;
}
.innerBox li{
    height: 70px;
    float: left;
    list-style: none;
    background: #FFFFFF;
    display: -webkit-box;
    -webkit-box-align: center;
}

